$footerHeight: 3.5rem;

.footer {
  background-color: green;
  height: $footerHeight;
  color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.footerSection {
  text-align: center;
  flex-grow: 1;
  flex-basis: 0px;
  white-space: nowrap;
  width: 45%;
  margin: 0.3rem 1rem;
}
